
.footer{
  margin-top: 10%;

}

.footer-bottom {
  
  height: 7vh;
	padding: 10px 70px 10px 70px;
	background: #010203;
	color: #fff;
	font-size: 12px;
	text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
#back {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .footer{
    margin-top: 25%;
  }

  .footer-bottom{
    padding: 10px 2px 10px 20px;
  }
}

@media screen and (max-width: 450px) {
  .footer{
    margin-top: 50%;
  }

}



